<!DOCTYPE html>
{% extends 'blog/base.html'%}
{% load blog_tags %}
{% load staticfiles%}
    <!-- Main Content -->
    {% block container_block %}


<style>
div .content-section{
  width: 800px;
  padding: 10px;
  border: 2px solid gray;
  margin-bottom: 15px;
  border-radius: 15px 50px 30px;

}
</style>


    <!-- Page Header -->

    <header class="masthead" style="background-image: url('static/img/profile.jpg');height:310px;">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-10 col-md-10 mx-auto">
            <div class="site-heading">
              <h1><span style="color:##f2f2f2;">{{user.username}} Profile</span></h1>
              <span class="subheading">Profile Detail....</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="container ">
      <div class="row">
        <div class="col-lg-12 col-md-10 ">

          <div class="content-section">

               <!-- FORM HERE -->
               <h2>Change Profile Password</h2><hr>
               <form class="" method="post" enctype="multipart/form-data">
                 {{form.as_p}}


                 {% csrf_token %}
                 <div class="form-group">
<input type="submit" name="" class="btn btn-outline-info rounded-circle " value="Update">
                 </div>

               </form>
             </div>

          <!-- Pager -->

        </div>

        </div>
    </div>



{% endblock %}





  </body>

</html>
