<!DOCTYPE html>
{% load staticfiles%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static "css/style1.css" %}">

  </head>
  <body>

    <nav class="navbar navbar-inverse " style="background-color:  #333333 ;">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"></a>
        </div>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="/accounts/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </nav>

<div class="container">
  {% if messages %}
     {% for message in messages %}

<div class="alert alert-{{message.tags }}">
  {{message}}
</div>

     {% endfor %}
  {% endif %}

</div>

    <div class="loginBox">
   <img src="{% static "img/user.png" %}" height="150" width="150"  alt="My image" class="user">
<h2>Log In Here</h2>
<form class="" method="post">
  {{form}}

    {% csrf_token %}
  <input type="submit" name=""  value="Sign In">
  <div style="text-align:center">
  <strong><p align>-- OR Register With --</p></strong><br>
</div>
<div style="text-align:center">
  <a href="{% url 'social:begin' 'google-oauth2'%}">
    <button type="button" name="button" class="btn btn-danger btn-md">Google+ </button>
  </a>
<!--
  <a href="{% url 'social:begin' 'facebook'%}">
    <button type="button" name="button" class="btn btn-primary">Facebook </button>
  </a>

  <a href="{% url 'social:begin' 'twitter'%}">
    <button type="button" name="button" class="btn btn-info">Twitter </button>
  </a>
-->
  <br>
</div>
  <br>

  <a href="/password_reset">Forgot Password</a><br>
  <strong style="color:powderblue;">Need An Account?</strong> &nbsp<a href="/signup">Sign Up</a>

</form>






    </div>
  </body>
</html>
